<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}"{{ if eq .Site.Language.Lang "fa" }} dir="rtl"{{ end }}>

  <head>
    <title>{{ .Site.Title }}</title>
    {{ partial "meta" . }}
    {{ partial "header_includes" . -}}
  </head>
  <body>
    <div id="container">
      <header>
        <h1>
          <a href="{{ relLangURL "/" }}">{{ .Site.Title | markdownify }}</a>
        </h1>
        <ul id="social-media">
          {{ range .Site.Languages -}}
          {{ if ne .LanguageName $.Site.Language.LanguageName }}
          <li><a href="/{{ .Lang }}">{{ .LanguageName }}</a></li>
          {{ end }}
          {{ end }}
          {{ if .Site.Author.github }}
          <li><a href="https://github.com/{{ .Site.Author.github }}"><img src="{{ "img/github.png" | relURL }}"></i></a></li>
          {{ end }}
        </ul>
        {{ with .Site.Params.tagline }}
        <p><em>{{ . | markdownify }}</em></p>
        {{ end }}
      </header>

      {{ partial "nav" . }}

      <main>
